In [176]:
import pandas as pandas

In [177]:
loyalty_members = pandas.read_csv("../dataset/loyalty_members_2000.csv")
loyalty_points_activity = pandas.read_csv("../dataset/loyalty_points_activity_2000.csv")
online_customers = pandas.read_csv("../dataset/online_customers_2000.csv")
online_orders = pandas.read_csv("../dataset/online_orders_2000.csv")
pos_products = pandas.read_csv("../dataset/pos_products_1000.csv")
pos_transactions = pandas.read_csv("../dataset/pos_transactions_header_1000_v2.csv")

In [178]:
# Randomly adding store id's to products 
import random
random.seed(42) # for reproducibility 42
pos_new_products = pos_products.copy()
pos_new_products['store_id'] = pos_new_products.apply(lambda _: random.randint(1,5), axis=1)
pos_new_products.to_csv("../dataset/pos_new_products.csv",index=False)

In [179]:
updated_online_orders = online_orders.copy()
updated_online_orders['store_id'] = updated_online_orders.apply(lambda _: random.randint(1,5),axis=1)
updated_online_orders.to_csv('../dataset/updated_online_orders.csv',index=False)

In [180]:
loyalty_members.head()

,loyalty_member_id,enrolment_date,first_name,last_name,email,date_of_birth,gender,primary_store_id,consent_marketing
0,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True
1,3002,02/03/2020,Grace,Rossi,grace.rossi@example.com,07/11/1962,M,1,True
2,3003,11/02/2021,Ethan,Young,ethan.young@gmail.com,08/05/2010,Prefer not to say,1,False
3,3004,30/11/2023,Leo,Taylor,leo.taylor@gmail.com,28/04/1974,Prefer not to say,2,False
4,3005,08/07/2020,Maria,Khan,maria.khan@outlook.com,03/03/1969,Prefer not to say,1,False

In [181]:
loyalty_points_activity.head()

,points_txn_id,loyalty_member_id,source_system,source_reference,activity_type,points,activity_datetime
0,70001,3164,POS,83657,Earn,6,20/02/2024 01:37
1,70002,3036,POS,89674,Adjust,-14,09/04/2024 06:44
2,70003,3109,POS,83811,Earn,6,18/01/2024 01:21
3,70004,3130,POS,91731,Adjust,-19,12/04/2024 04:07
4,70005,3167,POS,87359,Adjust,14,17/03/2024 08:54

In [182]:
online_customers.head()

,online_customer_id,first_name,last_name,email,phone,city,loyalty_member_id
0,10001,Danielle,Johnson,danielle.johnson@example.com,332-181-9600x133,New Jamesside,3002.0
1,10002,Robert,Cole,robert.cole@example.com,026-542-3511x615,Cassandraton,3001.0
2,10003,Jessica,Herrera,jessica.herrera@example.com,(184)959-3103x4131,Ramirezstad,3005.0
3,10004,Francisco,Kelly,francisco.kelly@example.com,+1-419-283-2764x83503,Port Leslieview,3004.0
4,10005,Carl,Gentry,carl.gentry@example.com,001-537-672-4238,Juliechester,3004.0

In [183]:
online_orders.head()

,online_order_id,online_customer_id,order_datetime,order_status,sales_channel,fulfilment_type,store_id,delivery_fee,discount_amount,payment_type
0,80001,10125,2024-03-16 00:44:00,Placed,Mobile App,Pickup,2.0,0.00,1.69,Card
1,80002,10275,2024-03-03 08:17:00,Completed,Mobile App,Delivery,NaN,3.02,1.21,Card
2,80003,10097,2024-03-22 19:37:00,Preparing,Mobile App,Delivery,NaN,1.91,1.82,Card
3,80004,10480,2024-03-06 08:08:00,Cancelled,Web,Delivery,NaN,3.09,1.41,PayPal
4,80005,10469,2024-03-26 03:01:00,Completed,Mobile App,Delivery,NaN,2.14,1.07,PayPal

In [184]:
pos_products.head()

,product_id,product_name,category,subcategory,size,unit_cost,list_price,is_active
0,1,Latte L,Coffee,Latte,L,1.11,2.24,True
1,2,Flat White,Coffee,Flat White,NaN,0.58,1.50,True
2,3,Flat White M,Coffee,Flat White,M,2.29,5.95,False
3,4,Chai L,Tea,Chai,L,2.52,3.05,True
4,5,Coffee Beans,Merchandise,Coffee Beans,NaN,1.19,2.66,True

In [185]:
pos_transactions.head()

,pos_receipt_id,store_id,trans_datetime,staff_id,payment_type,order_channel,loyalty_member_id
0,100000,3,05/01/2024 18:23,5002,Voucher,Click-and-Collect,3002.0
1,100001,1,17/03/2024 07:44,5007,Mobile Wallet,Click-and-Collect,3001.0
2,100002,2,15/01/2024 12:47,5006,Mobile Wallet,In-Store,3003.0
3,100003,4,01/01/2024 03:38,5002,Voucher,In-Store,3001.0
4,100004,4,29/01/2024 17:07,5002,Card,In-Store,3003.0

In [186]:
# Merging Datasets
# POS_Transactions and Loyalty_Members on loyalty_member_id creates a dataset of loyal members with their transactions
# Online_orders and Online Customers on online_customer_id creates a dataset of online customers with their online orders
# Loyalty_members and Loyalty Points on loyalty_member_id creates a dataset that tracks the loyal members and their point activity

pos_merged_with_members = pos_transactions.merge(right=loyalty_members,how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True,indicator=False, validate=None)
online_merged = online_customers.merge(right=updated_online_orders,how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True,indicator=False, validate=None)
loyalty_merged = loyalty_members.merge(right=loyalty_points_activity,how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True,indicator=False, validate=None)

In [187]:
loyalty_merged.head()

,loyalty_member_id,enrolment_date,first_name,last_name,email,date_of_birth,gender,primary_store_id,consent_marketing,points_txn_id,source_system,source_reference,activity_type,points,activity_datetime
0,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70069,ONLINE,82647,Redeem,-26,25/04/2024 23:35
1,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70188,ONLINE,94176,Redeem,-48,16/04/2024 20:22
2,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70328,ONLINE,83068,Adjust,2,13/02/2024 19:02
3,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,71390,ONLINE,82034,Earn,21,24/02/2024 15:27
4,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,71996,POS,84674,Earn,47,28/02/2024 13:15

In [188]:
# Cleaning Data: Removing null values
pos_merged_with_members.dropna()
online_merged.dropna()
loyalty_merged.dropna()

,loyalty_member_id,enrolment_date,first_name,last_name,email,date_of_birth,gender,primary_store_id,consent_marketing,points_txn_id,source_system,source_reference,activity_type,points,activity_datetime
0,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70069,ONLINE,82647,Redeem,-26,25/04/2024 23:35
1,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70188,ONLINE,94176,Redeem,-48,16/04/2024 20:22
2,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,70328,ONLINE,83068,Adjust,2,13/02/2024 19:02
3,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,71390,ONLINE,82034,Earn,21,24/02/2024 15:27
4,3001,02/04/2021,Daniel,Patel,daniel.patel@outlook.com,20/12/1981,F,3,True,71996,POS,84674,Earn,47,28/02/2024 13:15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3200,14/07/2024,Maria,Green,maria.green@yahoo.com,18/01/2016,F,3,False,70670,ONLINE,92563,Redeem,-17,26/03/2024 20:49
1996,3200,14/07/2024,Maria,Green,maria.green@yahoo.com,18/01/2016,F,3,False,70791,ONLINE,90556,Adjust,-16,19/01/2024 10:32
1997,3200,14/07/2024,Maria,Green,maria.green@yahoo.com,18/01/2016,F,3,False,71079,ONLINE,88591,Adjust,4,10/01/2024 20:29
1998,3200,14/07/2024,Maria,Green,maria.green@yahoo.com,18/01/2016,F,3,False,71136,ONLINE,86775,Adjust,14,25/01/2024 15:09
1999,3200,14/07/2024,Maria,Green,maria.green@yahoo.com,18/01/2016,F,3,False,71404,POS,81678,Redeem,-62,02/03/2024 22:51

In [189]:
# Cleaning Data: Removing Duplicate Data
pos_merged_with_members.drop_duplicates()
online_merged.drop_duplicates()
loyalty_merged.drop_duplicates()
loyalty_members.drop_duplicates()
loyalty_points_activity.drop_duplicates()
online_customers.drop_duplicates()
online_orders.drop_duplicates()
pos_products.drop_duplicates()
pos_transactions .drop_duplicates()

,pos_receipt_id,store_id,trans_datetime,staff_id,payment_type,order_channel,loyalty_member_id
0,100000,3,05/01/2024 18:23,5002,Voucher,Click-and-Collect,3002.0
1,100001,1,17/03/2024 07:44,5007,Mobile Wallet,Click-and-Collect,3001.0
2,100002,2,15/01/2024 12:47,5006,Mobile Wallet,In-Store,3003.0
3,100003,4,01/01/2024 03:38,5002,Voucher,In-Store,3001.0
4,100004,4,29/01/2024 17:07,5002,Card,In-Store,3003.0
...,...,...,...,...,...,...,...
995,100995,1,25/02/2024 00:20,5004,Voucher,Click-and-Collect,NaN
996,100996,1,20/02/2024 22:01,5002,Cash,In-Store,NaN
997,100997,1,26/01/2024 15:28,5007,Voucher,Click-and-Collect,3004.0
998,100998,5,17/01/2024 07:34,5009,Voucher,In-Store,NaN
999,100999,5,06/03/2024 04:47,5008,Card,In-Store,3004.0

In [190]:
# Exporting Datasets
pos_merged_with_members.to_csv("../dataset/pos_merged_with_members.csv",index=False)
online_merged.to_csv("../dataset/online_merged.csv",index=False)
loyalty_merged.to_csv("../dataset/loyalty_merged.csv",index=False)

In [191]:
# How do in-store vs online sales compare by time, product and location?

In [192]:
# How does loyalty programme affect customer spend, visit frequency, and channel preference
# Tracks all online members visits 
average_discount_by_online_customer = online_merged.groupby('online_customer_id')['discount_amount'].mean()
average_discount_by_channel_preferance = online_merged.groupby('sales_channel')['discount_amount'].mean()
average_discount = online_merged['discount_amount'].mean()

visit_frequency_of_online_customers = online_merged.groupby('email').size()

visit_per_online_customer = online_merged[['email','sales_channel','discount_amount','delivery_fee']].copy()
visit_per_online_customer['points'] = loyalty_points_activity['points']
visit_per_online_customer['vists'] = visit_per_online_customer['email'].map(visit_frequency_of_online_customers)
visit_per_online_customer.head()
visit_per_online_customer.to_csv('../results/visit_per_online_customer.csv',index=False)

In [193]:
# How does loyalty programme affect customer spend, visit frequency, and channel preference
# Tracks th number of visits for each loyal pos member
visit_frequency_of_pos_customers = pos_merged_with_members.groupby('email').size()

visit_per_pos_customer = pos_merged_with_members[['email','order_channel']].copy()
visit_per_pos_customer['points'] = loyalty_points_activity['points']
visit_per_pos_customer['vists'] = visit_per_pos_customer['email'].map(visit_frequency_of_online_customers)
visit_per_pos_customer.head()
visit_per_pos_customer.to_csv('../results/visit_per_pos_customer.csv',index=False)

In [194]:
online_merged['loyalty_member_id'][89]

np.float64(3005.0)

In [195]:
# Tracking the visits of Online sales and visits
is_member = online_merged['loyalty_member_id'].notnull()
is_not_members = online_merged['loyalty_member_id'].isna()
non_online_members = online_merged[is_not_members]
online_members = online_merged[is_member]
print('Non online Loyalty members',non_online_members.count())
print('Online Loyalty members',online_members.count())

Non online Loyalty members online_customer_id    716
first_name            716
last_name             716
email                 716
phone                 716
city                  716
loyalty_member_id       0
online_order_id       716
order_datetime        716
order_status          716
sales_channel         716
fulfilment_type       716
store_id              716
delivery_fee          716
discount_amount       716
payment_type          716
dtype: int64
Online Loyalty members online_customer_id    1284
first_name            1284
last_name             1284
email                 1284
phone                 1284
city                  1284
loyalty_member_id     1284
online_order_id       1284
order_datetime        1284
order_status          1284
sales_channel         1284
fulfilment_type       1284
store_id              1284
delivery_fee          1284
discount_amount       1284
payment_type          1284
dtype: int64

In [196]:
pos_transactions['loyalty_member_id'][12]

np.float64(nan)

In [197]:
# Tracking the visits of POS sales and visits
is_member = pos_transactions['loyalty_member_id'].notnull()
is_not_members = pos_transactions['loyalty_member_id'].isna()
non_pos_members = pos_transactions[is_not_members]
pos_members = pos_transactions[is_member]
print('Non-pos Loyalty members',non_pos_members.count())
print('Pos Loyalty members',pos_members.count())

Non-pos Loyalty members pos_receipt_id       367
store_id             367
trans_datetime       367
staff_id             367
payment_type         367
order_channel        367
loyalty_member_id      0
dtype: int64
Pos Loyalty members pos_receipt_id       633
store_id             633
trans_datetime       633
staff_id             633
payment_type         633
order_channel        633
loyalty_member_id    633
dtype: int64

In [205]:
print(f"Visit frequency of online customers:\n{visit_frequency_of_online_customers}")
print(f"Average discount by channel preference:\n{average_discount_by_channel_preferance}\n")
print(f"Average discount for online customers:\n{average_discount_by_online_customer}\n")
print(f"Overall average discount:\n{average_discount}")

Visit frequency of online customers:
email
aaron.ochoa@example.com          3
adam.cortez@example.com          7
adam.wang@example.com            5
adriana.bailey@example.com       5
alex.harris@example.com          5
                                ..
william.rodriguez@example.com    5
willie.clark@example.com         2
yolanda.johnson@example.com      2
yvonne.dickson@example.com       1
zachary.sullivan@example.com     4
Length: 491, dtype: int64
Average discount by channel preference:
sales_channel
Mobile App    0.993460
Web           0.963889
Name: discount_amount, dtype: float64

Average discount for online customers:
online_customer_id
10001    1.255000
10002    1.153333
10003    0.675714
10004    1.096667
10005    0.968333
           ...
10496    1.040000
10497    0.784444
10498    1.423333
10499    0.680000
10500    0.967500
Name: discount_amount, Length: 494, dtype: float64

Overall average discount:
0.979015

In [198]:
# Which products and stores are most profitable, and which need attention?
products_unit_price = pos_products.groupby('category')['unit_cost'].mean().round(2)
products_list_price = pos_products.groupby('category')['list_price'].mean().round(2)
profitability_per_product = (products_list_price - products_unit_price).round(2)

expected_profits_by_category = pos_products[['category','unit_cost','list_price']]

expected_profits_by_category['list_price'] = expected_profits_by_category['category'].map(products_list_price)

expected_profits_by_category['unit_cost'] = expected_profits_by_category['category'].map(products_unit_price)
print("Average Unit Cost per Category:")
print(products_unit_price)
print("\nAverage List Price per Category:")
print(products_list_price)
print("\nProfitability per Category:")
print(profitability_per_product)

expected_profits_by_category.duplicated()
expected_profits_by_category.drop_duplicates()
expected_profits_by_category.to_csv('../results/expected_profits_by_category.csv',index=False)

Average Unit Cost per Category:
category
Coffee         1.74
Food           1.74
Merchandise    1.69
Tea            1.79
Name: unit_cost, dtype: float64

Average List Price per Category:
category
Coffee         4.46
Food           4.54
Merchandise    4.53
Tea            4.64
Name: list_price, dtype: float64

Profitability per Category:
category
Coffee         2.72
Food           2.80
Merchandise    2.84
Tea            2.85
dtype: float64

C:\Users\kumbi\AppData\Local\Temp\ipykernel_4856\124837431.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_profits_by_category['list_price'] = expected_profits_by_category['category'].map(products_list_price)
C:\Users\kumbi\AppData\Local\Temp\ipykernel_4856\124837431.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  expected_profits_by_category['unit_cost'] = expected_profits_by_category['category'].map(products_unit_price)

In [199]:
print(pos_products.sort_values(by='unit_cost',ascending=False))

     product_id product_name     category subcategory size  unit_cost  \
327         328  Black Tea L          Tea   Black Tea    L       3.00
783         784      Tumbler  Merchandise     Tumbler  NaN       2.99
817         818         Wrap         Food        Wrap  NaN       2.99
114         115         Wrap         Food        Wrap  NaN       2.99
137         138         Cake         Food        Cake  NaN       2.99
..          ...          ...          ...         ...  ...        ...
478         479          Mug  Merchandise         Mug  NaN       0.52
89           90    Gift Card  Merchandise   Gift Card  NaN       0.51
564         565  Green Tea L          Tea   Green Tea    L       0.51
614         615     Sandwich         Food    Sandwich  NaN       0.51
926         927         Cake         Food        Cake  NaN       0.50

     list_price  is_active
327        5.65      False
783        7.31       True
817        5.58       True
114        5.97       True
137        5.45      False
..          ...        ...
478        2.57       True
89         2.59      False
564        1.40      False
614        2.24       True
926        1.11       True

[1000 rows x 8 columns]

In [200]:
# Which products and stores are most profitable, and which need attention?
products_unit_price = pos_products.groupby('product_name')['unit_cost'].mean().round(2)
products_list_price = pos_products.groupby('product_name')['list_price'].mean().round(2)
profitability_per_product = (products_list_price - products_unit_price).round(2)

expected_profits_per_product = pos_products[['category','product_name','unit_cost','list_price']].copy()

print("Average Unit Cost per Product:")
print(products_unit_price.head())
print("\nAverage List Price per Product:")
print(products_list_price.head())
print("\nMost Profitable Products:")
print(profitability_per_product.head())
print("\n Least Profitable Proucts")
print(profitability_per_product.tail())

expected_profits_per_product['profitability'] = expected_profits_per_product['product_name'].map(profitability_per_product)

expected_profits_per_product.to_csv("../results/profitabilty_of_products.csv",index=False)
expected_profits_per_product.sort_values(by='profitability',ascending=False).head().to_csv("../results/most_profitbale_products.csv",index=False)
expected_profits_per_product.sort_values(by='profitability',ascending=False).tail().to_csv("../results/least_profitable_products.csv",index=False)

Average Unit Cost per Product:
product_name
Black Tea      1.52
Black Tea L    1.83
Black Tea M    1.83
Black Tea S    1.68
Cake           1.68
Name: unit_cost, dtype: float64

Average List Price per Product:
product_name
Black Tea      4.40
Black Tea L    4.63
Black Tea M    4.45
Black Tea S    3.87
Cake           4.33
Name: list_price, dtype: float64

Most Profitable Products:
product_name
Black Tea      2.88
Black Tea L    2.80
Black Tea M    2.62
Black Tea S    2.19
Cake           2.65
dtype: float64

 Least Profitable Proucts
product_name
Pastry      2.80
Salad       2.82
Sandwich    2.87
Tumbler     2.70
Wrap        2.82
dtype: float64

In [202]:
# Randomly adding store id's to products 
import random
random.seed(42) # for reproducibility 42
pos_new_products = pos_products.copy()
pos_new_products['store_id'] = pos_new_products.apply(lambda _: random.randint(1,5), axis=1)
pos_new_products.to_csv("../dataset/pos_new_products.csv",index=False)

In [203]:
profitability_per_store = pos_new_products[['store_id','product_id','product_name','category','unit_cost','list_price','is_active']].copy()
profitability_per_store['profit'] = profitability_per_store['list_price'] - profitability_per_store['unit_cost']
active = profitability_per_store['is_active'] == True
yes = profitability_per_store[active]
profitability_per_store = yes

In [204]:

total_profit_per_store = profitability_per_store.groupby('store_id')['profit'].sum()
print(total_profit_per_store.head())

store_id
1    355.00
2    444.31
3    415.98
4    450.26
5    437.12
Name: profit, dtype: float64